{#
/**
 * @file
 * Theme implementation for a 'webform' element.
 *
 * This is an copy of the webform.html.twig theme_wrapper which includes the
 * 'title_prefix' and 'title_suffix' variables needed for
 * contextual links to appear.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the webform.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_webform()
 * @see _webform_form_after_build()
 *
 * @ingroup themeable
 */
#}
 {% set form_id = element['#webform_id'] %}
      {% set title = form_id|replace({'_': ' '})|capitalize %}
{% if lang=='ar' %}
  {{ attach_library('ncss/rightCSS') }}
{% endif %}
  <div class="bg-primary bg-opacity-10">
    <div class="container">
      <nav id="breadcrumb" style="--bs-breadcrumb-divider: '&gt;';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">{{"Home"}}</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{title }}
          </li>
        </ol>
      </nav>
    </div>
    <div class="container">

      <h1 class="page-heading">
        {{title }}
      </h1>
      <p class="page-description pb-5">
        {{ element.progress['#webform'].description }}
      </p>
     </div>
  </div>
<div class="container container my-5">
<div class="card rounded-3 mb-4">
<div class="card-body mb-4">
  <form{{ attributes }}>
    {{ title_prefix }}
    {{ children }}
    {{ title_suffix }}
  </form>
</div>
</div>



</div>
