{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}


{% set node = row._entity %}

{% if node.field_img|length %}
  {% set media = node.field_img.0.entity %}
  {% set image_file = media.field_media_image.entity %}
  {% if image_file %}
    {% set uri = image_file.uri.value %}
    {% set alt = media.field_media_image.alt %}
    {#    <img src="{{ file_url(uri) }}" alt="{{ alt|e }}" loading="lazy">#}
  {% endif %}
{% endif %}

<div class="col-12 col-sm-6 col-lg-4 mb-3">
  <a href="{{ fields.view_node.content }}" class="link-underline link-underline-opacity-0">
    <div class="single-news-card">
      <span class="single-news-card-tag">{{ "Event"|t }}</span>
      <img src="{{ uri|image_style('media_library') }}" alt="{{ alt|e }}"   loading="lazy"  class="single-news-card-img" >
      <p class="single-news-card-title mt-3">{{ fields.title.content }}  </p>
      <p>
        {{ fields.field_start.content }}
      </p>
      <div class="research-card-tags">
        {% set colors = ['blue', 'gray', 'green', 'red'] %}
        {% for tag in node.field_tags %}
          {% set color = colors[loop.index0] is defined ? colors[loop.index0] : 'gray' %}
          <span class="tag {{ color }}">{{ tag.entity.name.value }}</span>
        {% endfor %}
      </div>
      </div>
  </a>
</div>


