{% block paragraph %}
  {% block content %}
    <div class="service-card">
      <div class="d-flex justify-content-between">
        <span class="service-card-icon">
          {% if content.field_image %}
            {% set media_entity = content.field_image[0]['#media'] %}
            {% if media_entity.field_media_image.entity %}
              {% set image = media_entity.field_media_image.entity %}
              <img src="{{ file_url(image.uri.value) }}" alt="{{ media_entity.name.value }}" class="">
            {% endif %}
          {% endif %}
        </span>
        <a href="{{ content.field_link.0['#url'] }}">
          <img src="/themes/ncss/frontend/img/arrow-up-right-01.svg" class="rtl-horizontal-mirror" alt="arrow-left-02">
        </a>

      </div>

      {% if content.field_title %}
          <h6 class="service-card-title">
            {{ content.field_title.0}}
          </h6>
      {% endif %}

      {% if content.field_subtitle %}

      <p class="service-card-description">
        {{ content.field_subtitle.0 }}
      </p>
      {% endif %}

    </div>


  {% endblock %}
{% endblock paragraph %}
